@import "tailwindcss";

.react-calendar-heatmap text {
  fill: #d1d5db; 
  font-size: 2px;
}

.react-calendar-heatmap rect {
  rx: 4px;
  ry: 4px;
  shape-rendering: geometricPrecision;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}


.react-calendar-heatmap .react-calendar-heatmap-week {
  gap: 5px;
}
.react-calendar-heatmap .react-calendar-heatmap-day {
  width: 5px;
  height: 5px;
  margin: 4px;
}


.react-calendar-heatmap .color-empty {
  fill: #1f2937; 
}

.color-scale-1 {
  fill: #7c3aed; 
}
.color-scale-2 {
  fill: #8b5cf6;
}
.color-scale-3 {
  fill: #a78bfa; 
}
.color-scale-4 {
  fill: #c4b5fd; 
}


.color-today {
  stroke: #facc15; 
  stroke-width: 2px;
  fill: #7c3aed; 
}
