@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.react-calendar-heatmap text {
  stroke: #fff;
  stroke-width: 0.6px;
  font-size: 2px;
}

.react-calendar-heatmap rect {
  rx: 4px;
  ry: 4px;
  shape-rendering: geometricPrecision;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap .react-calendar-heatmap-week {
  gap: 5px;
}
.react-calendar-heatmap .react-calendar-heatmap-day {
  width: 5px;
  height: 5px;
  margin: 4px;
}

.react-calendar-heatmap .color-empty {
  fill: #1f2937;
}

.color-scale-1 {
  fill: #7c3aed;
}
.color-scale-2 {
  fill: #8b5cf6;
}
.color-scale-3 {
  fill: #a78bfa;
}
.color-scale-4 {
  fill: #c4b5fd;
}

.color-today {
  stroke: #facc15;
  stroke-width: 2px;
  fill: #7c3aed;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

#editorjs .ce-header {
  font-family: inherit;
}

#editorjs h1.ce-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#editorjs h2.ce-header {
  font-size: 1.5rem;
  line-height: 2rem;
}

#editorjs h3.ce-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.18s ease-out;
}

.body {
  scroll-behaviour: smooth;
}
