/* orbiting-circles.css */

@layer utilities {
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }

  .animate-orbit {
    animation: orbit calc(var(--duration) * 1s) linear infinite;
    transform-origin: center center;
  }

  .animate-orbit-reverse {
    animation-direction: reverse;
  }

  .animate-orbit:hover {
    animation-play-state: paused;
  }
}